canvas {
    display: block;
}

html {
    overflow: hidden;
    background: #000;
}
#reset{
    position: absolute;
    background: #217;
    opacity: 0.5;
    width: 2.5rem;
    height: 1.25rem;
    bottom: 1rem;
    right: 1rem;
    padding: 3px;
    border-radius: 10px ;
    text-align: center;
    color: white;
}
#reset:hover {
    opacity: 1.0;
    background: white;
    color: black;
}